.todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    min-height: 100vh;
    width: 100%;
}

.todoWrapper {
    min-width: 450px;
    min-height: 650px;
    background-color: white;
    border-radius: 1em;
    box-shadow: 3px 6px 20px #000;
}

.header {
    text-align: center;
}

.todoInput {
    margin-left: 20%;
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid blue;
    font-size: 20px;
    margin-bottom: 20px;
}

.todoButton {
    padding: 15px;
    margin-left: 10px;
    background-color: dodgerblue;
    border-radius: 15px;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.todoList {
    padding: 5px 15px;
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
}

.iconWrapper {
    display: flex;
    gap: 5px;
}

.buttonComplete,
.buttonEdit,
.buttonDelete {
    border-radius: 40%;
    border: none;
}

.buttonComplete {
    color: green;
}

.buttonEdit {
    color: blue;
}

.buttonDelete {
    color: red;
}